p{
    background-color: aquamarine;
}


.mi_parrafo:hover{
    background-color: blueviolet;
}

ul{
    background-color: brown;
}

ul li:first-child{
    background-color: chartreuse;
}

ul li:last-child{
    background-color: blue;
}

a:hover{
    background-color: bisque;
}


@font-face {
    font-family: 'Milesdane';
    src: url('../fonts/Milesdane Trial.otf') format('opentype');
}


h1 {
    font-family: 'Milesdane', sans-serif;
}

.mi_parrafo {
    font-family: 'Milesdane', sans-serif;
}


h1 {
    
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}


.mi_parrafo {
    
    text-align: justify; 
}


h2 {
    text-transform: uppercase;
}


a {
    text-decoration: none; 
}

.frase-importante {
    text-decoration: underline;
    font-weight: bold; /* Opcional: lo hace negrita para que resalte más */
}