<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Work</title>
</head>
<body>

    <div>
        <h1>
        Experiencia laboral
        <h3>
            Experiencia laboral
        </h3>

        <label>
            Soy un subtitulo
        </label>

        <p>
            <ins>Lorem ipsum dolor sit amet,</ins> consectetur adipiscing elit, sed do 
            eiusmod tempor <b>incididunt ut labore et dolore magna</b> aliqua. 
            Ut enim ad minim veniam, <strong>quis nostrud exercitation ullamco </strong>laboris 
            nisi ut aliquip ex ea <s>commodo consequat. Duis aute</s> irure dolor in 
            reprehenderit in <u>voluptate velit esse cillum</u> dolore eu fugiat nulla 
            pariatur. Excepteur sint <em>occaecat cupidatat non proident</em>, sunt in 
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <pre>
            <ins>Lorem ipsum dolor sit amet,</ins> consectetur adipiscing elit, sed do 
            eiusmod tempor <b>incididunt ut labore et dolore magna</b> aliqua. 
            Ut enim ad minim veniam, <strong>quis nostrud exercitation ullamco </strong>
        </pre>  

        <code>
            nombre = "Alice"
            edad = 30
            altura = 1.75
            es_estudiante = True
        </code>
        <br>
        <a href="../pelon.png" download="">
            Abreme
        </a>


    </div>
    

    <div id="enlaces">

        <a href="tel:6122886429">Realizar una llamada</a>
        <br>
        <a href="../index.html">Ir al home</a>
        <br>
        <a href="#footer">Ir al footer</a>
        <br>
        <a href="../about.html">Ir al about</a>
        <br>
        <a href="../contac.html">Ir al contacto</a>
        <br>
        <a href="../views/work.html">Ir a cv</a>
        <br>
    </div>
    </h1>
</body>
</html>