<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Work</title>
</head>
<body>
    <h1>
        Experiencia laboral


        <div id="enlaces">

        <a href="tel:6122886429">Realizar una llamada</a>
        <br>
        <a href="../index.html">Ir al home</a>
        <br>
        <a href="#footer">Ir al footer</a>
        <br>
        <a href="../about.html">Ir al about</a>
        <br>
        <a href="../contac.html">Ir al contacto</a>
        <br>
        <a href="../views/work.html">Ir a cv</a>
        <br>
    </div>
    </h1>
</body>
</html>